<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Register
            </a>
        </div>
    </div>
</nav>

<div class="login-center col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="front signin_form">
        <p>Register For An Account</p>
        <div ng-show="model.error" class="alert alert-danger">{{model.error}}</div>
        <form class="login-form">
            <div class="form-group">
                <div class="input-group">
                    <input ng-model="username" type="text" class="form-control"
                           placeholder="Enter your email for username">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-user"></i>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input ng-model="password" type="password" class="form-control" placeholder="Choose a Password">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-lock"></i>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input ng-model="verifypassword" type="password" class="form-control" placeholder="Retype the Password">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-lock"></i>
                    </span>
                </div>
            </div>
            <div class="form-group sign-btn">
                <a class="btn btn-primary btn-block" ng-click="model.register(username,password,verifypassword)">
                Register</a>
                <a class="btn btn-danger btn-block"
                   href="#!/login">Cancel</a>
            </div>
        </form>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
</nav>