<!DOCTYPE html>
<html lang="en" ng-app="kaApp">
<head>
    <link href="../../public/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="../../public/assignment/vendor/angular/angular.min.js"></script>
    <script src="khanAcademy.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container-fluid" ng-controller="kaController as model">
    <h1>Khan Academy Api</h1>
    <h2>Search</h2>
    <input ng-model="inputTerm" class="form-control"/>
    <button class="btn btn-primary btn-block" ng-click="model.search(inputTerm)">Search</button>
    <h2>Results</h2>
    <ul class="list-group">
        <li class="list-group-item">

        </li>
    </ul>
</div>
</body>
</html>