<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <p class="navbar-text pull-left">
                <a href="#!/Search" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand" href="#">FoodTruck Search</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a ng-show="model.userId" ng-click="model.logout()">Logout</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div ng-show="!model.foodTrucks&&!model.foodTruckVendor" class="container-fluid center_div" id="buttonDiv">
    <a ng-click="template='../project/views/foodTruck/templates/search/searchByCity.view.client.html'"
       class="btn btn-default bt1">Search By City</a>
    <a ng-click="template='../project/views/foodTruck/templates/search/searchByVendor.view.client.html'"
       class="btn btn-default bt1">Search By Vendor</a>
</div>
<div ng-show="!model.foodTrucks&&!model.foodTruckVendor" class="container-fluid center_div col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-xs-12" id="myDiv">
    <ng-include src="template"></ng-include>
</div>
<div ng-show="model.foodTrucks&&!model.foodTruckVendor" class="container-fluid" style="overflow:auto; position:absolute; top:50px; left: 0px; right:0px; bottom:50px;">
    <!-- 1st row verticaly centered text in the square columns -->
    <div ng-repeat="foodTruck in model.foodTrucks" class="square">
        <div class="content">
            <div class="table">
                <div class="table-cell">
                    <ul>
                        <label>Name</label>
                        <li>{{foodTruck.identifier}}</li>
                        <label>Phone</label>
                        <li>{{foodTruck.phone}}</li>
                        <label>Region</label>
                        <li>{{foodTruck.region}}</li>
                        <label>Rating</label>
                        <li>{{foodTruck.rating}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-show="!model.foodTrucks&&model.foodTruckVendor" class="container-fluid" style="overflow:auto; position:absolute; top:50px; left: 0px; right:0px; bottom:50px;">
    <!-- 1st row verticaly centered text in the square columns -->
    <div class="square">
        <div class="content">
            <div class="table">
                <div class="table-cell">
                    <ul>
                        <li>{{model.foodTruckVendor.description}}</li>
                        <li>{{model.foodTruckVendor.phone}}</li>
                        <li>{{model.foodTruckVendor.rating}}</li>
                        <li>{{model.foodTruckVendor.url}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
