<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="../widget-list.view.client.html" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>

            <a class="navbar-brand" href="#">
                Text Editor
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid top-space">
    <label for="text">Text</label>
    <input id="text" ng-model="model.widget.text" class="form-control"/>
    <label for="rows">Rows</label>
    <input id="rows" ng-model="model.widget.rows" class="form-control" type="number"/>
    <label for="placeholder">PlaceHolder</label>
    <input id="placeholder" ng-model="model.widget.placeholder" class="form-control"/>
    <label for="formatted">Formatted</label>
    <input id="formatted" ng-model="model.widget.formatted" type="checkbox"/>
    <a ng-click="model.updateWidget(model.widget)" class="btn btn-block btn-success">Update</a>
    <a ng-click="model.deleteWidget(model.widgetId)" class="btn btn-block btn-danger">Delete</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">
            <p class="navbar-text pull-right">
                <a href="#!/user/{{model.userId}}" class="navbar-link">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>