<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="../widget-list.view.client.html" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>

            <a class="navbar-brand" href="#">
                Heading Editor
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <label for="name">Name</label>
    <input class="form-control"
           placeholder="facebook"
           ng-model = "model.widget.widgetType"
           id="name"/>

    <label for="text">Text</label>
    <input class="form-control"
           placeholder="facebook"
           ng-model="model.widget.text"
           id="text"/>

    <label for="size">Size</label>
    <select id="size" class="form-control" ng-model="model.widget.size">
        <option>1 (X-Large)</option>
        <option>2 (Larger)</option>
        <option>3 (Large)</option>
        <option>4 (Medium)</option>
        <option>5 (Small)</option>
        <option>6 (Smallest)</option>
    </select>

    <a ng-click="model.deleteWidget(model.widgetId)" class="btn btn-block btn-danger">Delete</a>
    <a ng-click="model.updateWidget(model.widget)" class="btn btn-block btn-success">Update</a>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">
            <p class="navbar-text pull-right">
                <a href="../../../user/templates/profile.view.client.html" class="navbar-link">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>
