<div ng-show="model.error"
     class="alert alert-danger">
    {{model.error}}
</div>
<div class="container-fluid top-space">
    <label for="name">Name</label>
    <input class="form-control"
           placeholder="The Chainsmokers - Paris (Lyric)"
           ng-model="model.widget.widgetType"
           id="name"/>

    <label for="url">URL</label>
    <input class="form-control"
           placeholder="https://www.youtube.com/watch?v=RhU9MZ98jxo"
           ng-model="model.widget.url"
           id="url"/>

    <label for="width">Width</label>
    <input class="form-control"
           placeholder="100%"
           ng-model="model.widget.width"
           id="width"/>

    <a ng-click="model.deleteWidget(model.widgetId)"
       class="btn btn-block btn-danger">Delete</a>
    <a ng-click="model.updateWidget(model.widget)"
       class="btn btn-block btn-success">Update</a>
</div>