/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url(https://www.squiz.net/__public/Systems/Perspective/FileCache/1-32000/465/prop/header-bg-image.jpg?t=1472431690);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display:flex;
    padding-top: 60px;
    padding-bottom: 60px;
}

.navbar.navbar-default.navbar-fixed-top{
    background-color: #000000;
}

nav.navbar.navbar-default.navbar-fixed-top {
    padding-right: 15px;
}

.navbar-default {
    background-color: darkblue;
    border-color: darkblue;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-header {
    width: 100%;
}

.navbar-default .navbar-link {
    color: white;
}

.navbar.navbar-default a {
    color: #ffffff;
}

.btn-primary {
    color: #fff;
    background-color: #0D3349;
    border-color: #0D3349;
}

.login-center{
    margin: auto;
}

.front.signin_form{
    color: white;
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 500;
    white-space: normal;
}