input.form-control,
textarea.form-control,
select.form-control {
    margin-bottom: 5px;
}

nav.navbar.navbar-default.navbar-fixed-top {
    padding-right: 15px;
}

body {
    padding-top: 60px;
    padding-bottom: 60px;
}

.navbar-default {
    background-color: darkblue;
    border-color: darkblue;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-header {
    width: 100%;
}

.navbar-default .navbar-link {
    color: white;
}

.navbar.navbar-default a {
    color: black;
}
*
.wd-widget {
    margin-bottom: 10px;
}

.wd-widget > img {
    width: 100%;
}

.wd-widget > .wd-widget-toolbar {
    position: absolute;
    right: 15px;
    background: white;
    opacity: 0.9;
    padding: 5px;
    border-bottom-left-radius: 10px;
}

.wd-widget-toolbar{
    z-index: 1;
}

.container-fluid.top-space{
    margin-top: 50px;
    margin-bottom: 50px;
}

.youtube-widget {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.youtube-widget iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
