input.form-control,
textarea.form-control,
select.form-control {
    margin-bottom: 5px;
}

nav.navbar.navbar-default.navbar-fixed-top {
    padding-right: 15px;
}

body {
    padding-top: 60px;
    padding-bottom: 60px;
}

.navbar-default {
    background-color: #0D3349;
    border-color: #0D3349;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-header {
    width: 100%;
}

.navbar-default .navbar-link {
    color: white;
}

.navbar.navbar-default a {
    color: #ffffff;
}

.wd-widget {
    margin-bottom: 25px;
}

.wd-widget > img {
    width: 100%;
}

.wd-widget > .wd-widget-toolbar {
    position: absolute;
    right: 15px;
    background: white;
    opacity: 0.9;
    padding: 5px;
    border-bottom-left-radius: 10px;
}


.navbar.navbar-default.navbar-fixed-bottom{
    height: 5%
}

.navbar-link{
 float: right; !important;
    margin-right: 5px;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.row.navbar-text{
    float: right;!important;
}

.container{
    margin-right:5px;
}

.navbar-text.pull-right{
    margin-top: 10px;
}