<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Assignment HomePage</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-right">
                <a ng-show = "!model.currentUser._id" href="#!/login" class="btn btn-success">Sign in</a>
                <a ng-if="model.currentUser.roles.indexOf('ADMIN')>-1" href="#!/admin" class="btn btn-success">Admin</a>
            </form>
        </div><!--/.navbar-collapse -->
    </div>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container" >
        <h1>Hello!</h1>
        <p>This is a template for the upcoming Home Page for the WebDev Assignments. Browse below for more information on each assignment.</p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Assignment1</h2>
            <p>This assignment describes setting up the development environment used throughout the semester. The development environment consists of a local Node.js HTTP server and a MongoDB database server where local development will be performed. You will commit and push your code to a remote Git code repositories. Configure the repository to auto deploy into a remote Node.js instance hosted at Heroku that will make your Web application publicly available on the Web</p>
        </div>
        <div class="col-md-4">
            <h2>Assignment2</h2>
            <p>In this assignment you will get started creating the Website by first focusing on creating a set of static pages that will serve as a prototype. The prototype will allow evaluating user interface aspects of the application such as navigation, information layout, page dependencies, modalities, and authentication.</p>
        </div>
        <div class="col-md-4">
            <h2>Assignment3</h2>
            <p>Watch This Space For More !</p>
        </div>
    </div>
    <hr>
</div> <!-- /container -->
