body {
    height: 100%;
    width: 100%;
    background-image: url(bg.jpeg);
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: top center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed;
}

a {
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.button-name {
    border: 0;
    color: black;
}

.button-name:hover {
    background-color:palevioletred;
    color: black;
    text-decoration: none;
}

h1 {
    text-align: center;
}