<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#!/website/{{model.websiteId}}/page" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                Widget List
            </a>
            <p class="navbar-text pull-right">
                <a href="#!/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new" class="btn btn-success btn-block">
                    Add Widget
                </a>
            </p>
        </div>
    </div>
</nav>