<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#!/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                Create Widget
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid top-space">
<p class="navbar-text">
    <a ng-click="template='views/widget/templates/new/widget-image-new.view.client.html'" class="btn btn-default">Image</a>
    <a ng-click="template='views/widget/templates/new/widget-youtube-new.view.client.html'" class="btn btn-default">YouTube</a>
    <a ng-click="template='views/widget/templates/new/widget-heading-new.view.client.html'" class="btn btn-default">Heading</a>
    <a ng-click="template='views/widget/templates/new/widget-text-new.view.client.html'" class="btn btn-default">Text</a>
    <a ng-click="template='views/widget/templates/new/widget-html-new.view.client.html'" class="btn btn-default">HTML</a>
</p>
</div>

<div class="container-fluid" id="myDiv">
<ng-include src="template"></ng-include>
</div>

<div ng-include="'views/common/footer.view.client.html'"></div>