<div ng-show="model.error"
     class="alert alert-danger">
    {{model.error}}
</div>
<div class="container-fluid top-space">
    <label for="name">Name</label>
    <input class="form-control"
           placeholder="facebook"
           ng-model = "widget.name"
           id="name"/>

    <label for="text">Text</label>
    <input class="form-control"
           placeholder="facebook"
           ng-model="widget.text"
           id="text"/>

    <label for="size">Size</label>
    <select id="size" class="form-control" ng-model="widget.size">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
    </select>
    <a ng-click="model.createWidget(widget,'HEADING')" class="btn btn-block btn-success">Create</a>
</div>