<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="../widget-list.view.client.html" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>

            <a class="navbar-brand" href="#">
                Create Image
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid top-space">
    <label for="name">Name</label>
    <input class="form-control"
           placeholder="facebook"
           ng-model="widget.name"
           id="name"/>

    <label for="url">URL</label>
    <input class="form-control"
           placeholder="https://www.w3schools.com/css/img_fjords.jpg"
           ng-model="widget.url"
           id="url"/>

    <label for="file">Upload</label>
    <input id="file" multiple type="file" class="form-control"/>

    <a href=""
       class="btn btn-block btn-primary">Upload</a>

    <a ng-click="model.createWidget(widget,'IMAGE')"
       class="btn btn-block btn-success">Create</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">
            <p class="navbar-text pull-right">
                <a href="../../../user/templates/profile.view.client.html" class="navbar-link">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>
