<div ng-show="model.error"
     class="alert alert-danger">
    {{model.error}}
</div>
<div class="container-fluid top-space">
    <label for="name">Name</label>
    <input class="form-control"
           placeholder="Image Name"
           ng-model="widget.name"
           id="name"/>

    <label for="url">URL</label>
    <input class="form-control"
           placeholder="https://www.w3schools.com/css/img_fjords.jpg"
           ng-model="widget.url"
           id="url"/>

    <form action="/api/upload"   method="post" enctype="multipart/form-data">
        <input  name="myFile"    type="file" class="form-control"/>
        <input  name="width"     value="{{model.widget.width}}" style="display: none"/>
        <input  name="userId"    value="{{model.userId}}"   style="display: none"/>
        <input  name="websiteId" value="{{model.websiteId}}"   style="display: none"/>
        <input  name="pageId"    value="{{model.pageId}}"   style="display: none"/>
        <input  name="widgetId"  value="{{model.widget._id}}"   style="display: none"/>
        <input  name="callFrom"  value="new"   style="display: none"/>
        <input  name="widgetType" value="IMAGE"   style="display: none"/>
        <button type="submit"    class="btn btn-block btn-primary">Upload Image</button>
    </form>

    <a href="/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widgetId}}/flickr"
       class="btn btn-block btn-default">Search Flickr</a>
    <a ng-click="model.createWidget(widget,'IMAGE')"
       class="btn btn-block btn-success">Create</a>
</div>