<div ng-show="model.error"
     class="alert alert-danger">
    {{model.error}}
</div>
<div class="container-fluid top-space">
    <label for="name">Name</label>
    <input class="form-control"
           placeholder="The Chainsmokers - Paris (Lyric)"
           ng-model="widget.name"
           id="name"/>

    <label for="text">Text</label>
    <input class="form-control"
           placeholder="Vevo Productions"
           ng-model="widget.text"
           id="text"/>

    <label for="text">URL</label>
    <input class="form-control"
           placeholder="https://www.youtube.com/watch?v=RhU9MZ98jxo"
           ng-model="widget.url"
           id="url"/>

    <label for="text">Width</label>
    <input class="form-control"
           placeholder="100%"
           ng-model="widget.width"
           id="width"/>

    <a ng-click="model.createWidget(widget,'YOUTUBE')" class="btn btn-block btn-success">Create</a>
</div>