<nav class="navbar navbar-inverse navbar-fixed-top header-color">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <p class="navbar-text pull-left">
                <a href="#!/Search" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand" href="#">Profile</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a ng-show="model.userId" ng-click="model.logout()">Logout</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container-fluid center_div" id="buttonDiv">
    <a href="#!/Search"
       class="btn btn-default bt1">Search</a>
    <a ng-click="template='../../../../project/views/user/templates/include/updateProfile.view.client.html'"
       class="btn btn-default bt1">Update Profile</a>
    <a ng-click="template='../../../../project/views/user/templates/include/deleteProfile.view.client.html'"
       class="btn btn-default bt1">Delete Profile</a>
    <a ng-click="template='../../../../project/views/user/templates/include/myrecipes.view.client.html'"
       class="btn btn-default bt1">My Recipes</a>
    <a ng-click="template='../../../../project/views/user/templates/include/myfoodtrucks.view.client.html'"
       class="btn btn-default bt1">My FoodTrucks</a>
</div>

<div ng-show="model.userId"
     class="container-fluid center_div col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-xs-12 col-sm-12 profile" id="myDiv">
    <ng-include src="template"></ng-include>
</div>
