<div class="container-fluid center_div" id="searchDiv">
    <div class="form-group" id="dropdown">
        <select class="form-control" ng-model="course">
            <option value="Desserts">Desserts</option>
            <option value="Side Dishes">Side Dishes</option>
            <option value="Beverages">Beverages</option>
            <option value="Breakfast and Brunch">Breakfast and Brunch</option>
            <option value="Lunch">Lunch</option>
            <option value="Snacks">Snacks</option>
            <option value="Main Dishes">Main Dishes</option>
            <option value="Appetizers">Appetizers</option>
            <option value="Salads">Salads</option>
            <option value="Side Dishes">Side Dishes</option>
            <option value="Soups">Soups</option>
            <option value="Cocktails">Cocktails</option>
            <option value="Condiments and Sauces">Condiments and Sauces</option>
        </select>
        <div class="form-group sign-btn">
            <a ng-click="model.searchByCourse(course)" class="btn btn-success btn-block">
                Hit !
            </a>
        </div>
    </div>
</div>